* {
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    background-image: url("../images/desert.jpg");
}

.home-summary {
    font-size: 500%;
    margin-top: -15%;
    color: rgb(228, 225, 225);
}

.home-summary-information {
    margin-top: 5%;
}

p {
    color: rgb(228, 225, 225);
    font-size: 150%;

}


.bg-desert {
    min-height: 100vh;
    min-width: 100vw;
}