.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutMe-summary {
    font-size: 150%;
    line-height: 2;
}

.bout-me-image {
    height: 100px;
    width: 200px;
    object-fit: contain;

}

.aboutMe img {
    border-radius: 10px;

}

img {
    border-radius: 10px;
}


